<header
  class="sticky top-0 z-50 w-full border-b bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div
    class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex h-16 items-center justify-between"
  >
    <div class="flex items-center space-x-2">
      <span class="text-xl font-bold">showObj</span>
    </div>

    <nav class="hidden md:flex items-center space-x-6">
        <a href="" class="text-sm font-medium hover:text-secondary 
        transition-colors">Caracteristicas</a>
        <a href="" class="text-sm font-medium hover:text-secondary 
        transition-colors">Instalación</a>
        <a href="" class="text-sm font-medium hover:text-secondary 
        transition-colors">Ejemplos</a>
        <a href="" class="text-sm font-medium hover:text-secondary 
        transition-colors">Tecnologia</a>    
    </nav>

    <div class="flex items-center space-x-2">
        <button class="border p-2 border-slate-100 rounded hover:cursor-pointer hover:shadow ">
            Github
        </button>

        <button class="bg-primary hover:bg-primary/90 p-2 rounded text-primary-foreground hover:cursor-pointer">
            Descargar
        </button>
    </div>
  </div>
</header>
